* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    box-shadow: 3px 7px 5px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}

li.dropdown {
    display: inline-block;
}

.livros {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.livros a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.livros a:hover {
    background-color: #76FF03;
}

.dropdown:hover .livros {
    display: block;
}

section {
    display: flex;
    
}

section img {
    height: 250px;
    margin-top: 15%;
    padding-left: 50px;
}

article {
    margin: 5%;
}

article h1 {
    margin-bottom: 5%;
    font-size: 25pt;
}

