* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: #B388FF;
    justify-content: center;

}

/*Estilizar botao */
.botao, .dropbtn {
    font-size: 12pt;
    background-color: #BBDEFB;
    border: none;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 7px 5px;
    transition: transform 400ms, box-shadow 400ms;
}

/* Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Conteudo */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #F06292;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn, .botao:hover {
    background-color: #F06292;
}

/* Menu lateral esquerdo */
.menu-lateral-esquerdo {
    display: inline-block;
    vertical-align: middle;
    background-color:#BBDEFB;
    font-size: 22px;
    padding: 20px 0px;
    color: black;
    width: 300px;
    height: 800px;
}
.menu-lateral-esquerdo ul {
    list-style-type: none;
}
.menu-lateral-esquerdo li a {
    display: block;
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}
.menu-lateral-esquerdo li a:hover {
    background-color: #F06292;
    color: black;
    font-weight: bolder;
}

.conteudo {
    height: 1200px;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

/* Carregando */
.conteudo .loading {
    text-align: center;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #F06292;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* Responsividade */
@media screen and (max-width: 600px) {
    /* Estilo para a barra lateral como um menu de largura total */
    .menu-lateral-esquerdo {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    /* Estilo para o conteúdo na tela pequena */
    .conteudo {
        width: 100%;
        float: none;
    }
}
